<%- include('partials/header'); -%>
<h2><%=po.movie%></h2>

<p> <strong>Genre: </strong> <%=po.genre%> </p>
<p> <strong>Rating: </strong> <%=po.rating%> </p>
<p><strong>Description: </strong><%=po.describe%></p>

<br><br>
<a href="/mod/<%=po.id%>"><button type="submit" class="btn btn-warning" name="modify">Modify</button></a>
<form action="" method="post"><br><br>
  <button type="submit" class="btn btn-danger" name="delete">Delete</button>
</form>

